
<div class="row">
  <div class="col-md-6">
    <%= form_with(model: driver, local: true) do |form| %>
      <% if driver.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

          <ul>
          <% driver.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_area :address, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :country %>
        <%= form.text_field :country, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :dl_number%>
        <%= form.text_field :dl_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :status %>
        <%= form.text_field :status, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>

      <%= link_to "Cancel", drivers_path, class: "btn btn-warning" %>
    <% end %>
  </div>

</div>

