<div class="row">
<div class="col-md-6">



<%= form_with(model: vehicle, local: true) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :registration %>
  <%= f.text_field :registration, class: "form-control" %>

  <%= f.label :make %>
  <%= f.text_field :make, class: "form-control" %>

  <%= f.label :model %>
  <%= f.text_field :model, class: "form-control" %>

  <%= f.label :yom %>
  <%= f.text_field :yom, class: "form-control" %>

  <div class="actions">



    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>


</div>
</div>
