<div class="row">
  <div class="col-md-6">
    <%= form_with(model: expense, local: true) do |form| %>
      <% if expense.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

          <ul>
          <% expense.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :date %>
        <input type="date" name="expense[date]" class="form-control" value="<%= @expense.date %>">
      </div>

      <div class="field">
        <%= form.label :vendor_id %>
        <%= form.select :vendor_id, options_for_select(Vendor.all.map { |vendor| [vendor.name, vendor.id] }, 
        :selected => @expense.vendor.nil? ? nil : @expense.vendor.id), {}, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :category_id %>
        <%= form.number_field :category_id, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :vehicle_id %>
        <%= form.select :vehicle_id, options_for_select(Vehicle.all.map { |vehicle| [vehicle.registration, vehicle.id] }, 
        :selected => @expense.vehicle.nil? ? nil : @expense.vehicle.id), {}, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :driver %>
        <%= form.select :driver_id, options_for_select(Driver.all.map { |driver| [driver.name, driver.id] }, :selected => @expense.driver.nil? ? nil : @expense.driver.id), { :include_blank => true }, { :class => 'form-control' } %>
      </div>

      <div class="field">
        <%= form.label :amount %>
        <%= form.number_field :amount, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>

      <%= link_to 'Cancel', expenses_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>

